body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	font-size: 120%;
	background-image: url(images/background.jpg);
}


header,
main {
	background-color: rgb(179, 207, 223, 0.8);
}


header {
	padding: 2em 0;
}


h1 {
	text-align: center;
	font-size: 2.5em;
	padding: 0 0 0.6em 0;
}

h2 {
	padding: 0.1em 0 0.1em 0.5em;
	background: rgb(153, 188, 241);
	color: #154088; 
	font-size: 1.3em;
}

section {
	margin: 1.8em 0;
}

nav ul {
	padding: 1em 0 0 0.5em;
}

nav ul li {
	padding: 0.6em 0 0 0;
	font-weight: bold;
}

p {
	padding: 0.5em 0 1em 0.5em;
	font-size: 1.1em;
}

p.island {
	color: rgb(148, 26, 26);
}

b {
	font-weight: bold;
	font-size: 1.3em;
}

a#nav {
	text-align: center;
}
a:visited {
	color: rgb(108, 47, 114);
}

a:hover {
	color: #154088; 
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

img {
	width: 30%;
	max-width: 30%;
}

section:last-child {
	margin-bottom: 0;
}

footer{
	background-color: white;
}

/*
h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

main h2 {
	padding: 0.625em 0 0.625em 0.625em;
}

section {
	margin: 1.875em 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

p {
	padding: 1.25em;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
} */
